@using CSE_WebEducation
@using CommonLib
@using ObjectInfo;
@{
    List<CSE_PostsInfo> _LstData = new List<CSE_PostsInfo>();
    if (ViewBag.LstData != null)
    {
        _LstData = ViewBag.LstData;
    }

    int _record_on_page = CommonData.RecordsPerPage;
    if (ViewBag.Record_On_Page != null)
    {
        _record_on_page = ViewBag.Record_On_Page;
    }
}
<style>

    td img {
        height: 100px;
        width: 100%;
    }

</style>
<h3 class="title">
    <span>Kết quả tìm kiếm</span>
    <div class="d-flex">
        <div class="show-record">
            Hiển thị
            <select onchange="onChange_Record_on_page()" id="cbo_record_on_page">
                @foreach (var item in AllCodeMemory.Allcode_GetByCdnameCdtype("DISPLAY", "RECORD_ON_PAGE"))
                {
                    <option @(item.CDVal == _record_on_page.ToString() ? "selected" : "") value="@item.CDVal">@item.Content</option>
                }
            </select>
            bản ghi
        </div>
    </div>
</h3>

<div class="">
    <div class="wrapper-editor scroll-tbl tbl-record over-flow-x">
        <table width="100%" id="test-tb">
            <thead>
                <tr>
                    <th scope="col" class="w-80px text-center">STT</th>
                    <th scope="col">Ảnh bìa</th>
                    <th scope="col">Tiêu đề</th>
                    <th scope="col">Danh mục</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Ngày tạo</th>
                    <th scope="col">Người tạo</th>
                    <th scope="col" class="text-center">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @if (_LstData != null && _LstData.Count > 0)
                {
                    foreach (CSE_PostsInfo item in _LstData)
                    {
                        <tr>
                            <td class="text-center">@item.STT</td>
                            <td><img class="img-preview" id="imgPreview" src="@item.Thumbnail" alt="pic" width=200 height=200 /></td>
                            <td>@item.Title</td>
                            <td>@item.Category_Name</td>
                            @if (item.Status == CSE_Post_Status.Active)
                            {
                                <td class="text-success">@item.Status_Text</td>
                            }
                            else if (item.Status == CSE_Post_Status.Hide)
                            {
                                <td class="text-danger">@item.Status_Text</td>
                            }

                            <td class="text-center">@item.Created_Date</td>
                            <td>@item.Created_By</td>
                            <td>
                                <a href="javascript:;" data-toggle="modal" data-target="#formViewUser" class="btn-function" onclick="location.href='/trang-khoa/bai-viet/chi-tiet/@item.Id';">
                                    <span>
                                        <img class="imgbefore-hv" src="~/bidding_lib/img/icon-info.svg" alt="img">
                                    </span>
                                    <div class="name-function-fix">Xem</div>
                                </a>
                                <a href="javascript:;" class="btn-function" onclick="location.href='/trang-khoa/bai-viet/cap-nhat/@item.Id';">
                                    <span>
                                        <img class="imgbefore-hv" src="~/bidding_lib/img/icon-edit.svg" alt="img">
                                    </span>
                                    <div class="name-function-fix">Sửa</div>
                                </a>

                                <a href="javascript:;" class="btn-function" onclick="delete_post(@item.Id);">
                                    <span>
                                        <img class="imgbefore-hv" src="~/bidding_lib/img/icon-delete.svg" alt="img">

                                    </span>
                                    <div class="name-function-fix">Xóa</div>
                                </a>

                                @if (item.Status == CSE_Post_Status.Hide)
                                {
                                    <a href="javascript:;" class="btn-function" onclick="HideOrShow(@item.Id, '@CSE_Post_Status.Active');">
                                        <span>
                                            <img class="imgbefore-hv" src="~/bidding_lib/img/icon-activate.svg" alt="img">
                                        </span>
                                        <div class="name-function-fix">Hiển thị</div>
                                    </a>
                                }
                                else
                                {
                                    <a href="javascript:;" class="btn-function" onclick="HideOrShow(@item.Id, '@CSE_Post_Status.Hide');">
                                        <span>
                                            <img class="imgbefore-hv" src="~/bidding_lib/img/icon-deactivate.svg" alt="img">
                                        </span>
                                        <div class="name-function-fix">Ẩn</div>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="10" class="text-left">Không có dữ liệu</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="foot-record">
    @Html.Raw(ViewBag.Paging)
</div>

<script>

    $(function () {
        //ChangeIconSortTable();
        inittitlefuction();
        focusTableFixed();
    });
    window.onload = funcFixTable();
    window.onresize = funcFixTable();
    function funcFixTable() {
        let options = {
            "paging": false,
            fnDrawCallback: function () {
                if (window.currentScrollLeft > 0) {
                    document.getElementById("test-tb").parentElement.scrollLeft = window.currentScrollLeft;
                }
                //
                document.getElementById("test-tb").parentElement.addEventListener("scroll", function () {
                    window.currentScrollLeft = this.scrollLeft;
                });
                //$("th[data-sort]").off("click").on("click", function () {
                //    SortTable($(this).attr("data-sort"), function () {
                //        if (!!window.SearchAuction) {
                //            SearchAuction("",'@CommonData.pageDefaut');
                //        }
                //    });
                //});
            }
        };
        let fixColumnOptions = {
            leftColumns: 2,
            rightColumns: 1
        };
        CreateFixedTable('#test-tb', fixColumnOptions, options);
    }
</script>