@using CSE_WebEducation
@using CommonLib;
@{
    Layout = "~/Views/Shared/_ManaLayout.cshtml";
    ViewBag.Title = "Danh sách bài viết";
}

<div id="pupup"></div>

<div class="block-search-light">
    <div class="head-search">
        <h3 class="title">Điều kiện tìm kiếm</h3>
        <div class="search-right">
            <button class="btn-additem" type="button" onclick="location.href='/trang-khoa/bai-viet/them-moi';">
                <img src="~/bidding_lib/img/plus.svg" />Thêm mới
            </button>

            <button class="btn-search" onclick="Search(@CommonData.pageDefaut);">
                <img src="~/bidding_lib/img/icon-search.svg" alt="img">
            </button>
        </div>
    </div>
    <div class="body-search">
        <div class="box-search">
            <div class="item-search">
                <label>Tiêu đề</label>
                <input type="text" id="txtTitle" placeholder="Từ khóa tìm kiếm">
            </div>

            <div class="item-search">
                <label>Danh mục</label>
                @Html.Partial("~/Areas/Management/Posts/Views/_Partial_Category_Tree.cshtml","-1")
            </div>

            <div class="item-search">
                <label>Ngày tạo</label>
                <input type="text" id="dtCreatedDate" placeholder="Từ khóa tìm kiếm">
            </div>
        </div>

    </div>
</div>
<div class="block-record" id="tableData">
   
</div>


<div class="modal modal-report" id="dPopup"></div>
<script>
  $(document).ready(function () {
    Search(@CommonData.pageDefaut);

  $('#dtCreatedDate').datetimepicker({
    format: 'd/m/Y',
    formatDate: 'd/m/Y',
    timepicker: false,
    mask: '39/19/9999',
    validateOnBlur: false,
    scrollInput: false
  });


  });

  $(document).on('keypress', function (e) {
    if (e.which == 13) {
      Search('@CommonData.pageDefaut');
    }
  });

  function ChangePage(curentPage) {
    Search(curentPage);
  }

  function onChange_Record_on_page() {
    Search(1);
  }

  function Search(curentPage) {
    try {
      var keySearch = $('#txtTitle').val() + '|' + $('#dtCreatedDate').val().replace("__/__/____", "") + '|' + $('#slCategory').val();
      $.ajax({
        type: 'POST',
        url: '/trang-khoa/bai-viet/tim-kiem',
        data: {
          keysearch: keySearch,
          curentPage: curentPage,
          p_record_on_page: $("#cbo_record_on_page").val()
        },
        async: true, cache: false, traditional: true,
        beforeSend: function () {
          SpinLoading(true);
        },
        success: function (data) {
          SpinLoading(false);
          if (preHandleDataResult(data)) {
            $("#tableData").html(data);
          }
        }
      });
    } catch (ex) {
      console.log(ex);
    }
  }

  function delete_post (id) {
    try {
      nvsConfirm("Bạn có chắc chắn muốn xóa bài viết này không?", function () {
        $.ajax({
          type: 'POST',
          url: '/trang-khoa/bai-viet/xoa',
          data: { id: id },
          async: true, cache: false, traditional: true,
          beforeSend: function () {
            SpinLoading(true);
          },
          success: function (data) {
            if (preHandleDataResult(data)) {
              if (data.success > 0) {
                showSuccess('Xóa bài viết thành công')
                Search('@CommonData.pageDefaut');
              } else {
                showError('Xóa bài viết không thành công')
              }
            }
          },
          error: function (data) {
            console.log(data);
          },
          complete: function () {
            SpinLoading(false);
          }
        });
      });
    } catch (ex) {
      console.log(ex);
    }
  }

  function HideOrShow(id, type) {
      try {
          var strQuestion = "";
          if(type == '@CSE_Post_Status.Active')
          {
              strQuestion = "Bạn có chắc chắn muốn hiển thị bài viết này không?";
          }else{
              strQuestion = "Bạn có chắc chắn muốn ẩn bài viết này không?";
          }
          nvsConfirm(strQuestion, function () {
              $.ajax({
                  type: 'POST',
                  url: '/trang-khoa/bai-viet/cap-nhat-trang-thai',
                  data: {
                      id: id,
                      status: type
                  },
                  async: true, cache: false, traditional: true,
                  beforeSend: function () {
                      SpinLoading(true);
                  },
                  success: function (data) {
                      if (preHandleDataResult(data)) {
                          if (data.success > 0) {
                              showSuccess('Thay đổi trạng thái bài viết thành công')
                              Search('@CommonData.pageDefaut');
                          } else {
                              showError('Thay đổi trạng thái bài viết thất bại')
                          }
                      }
                  },
                  error: function (data) {
                      console.log(data);
                  },
                  complete: function () {
                      SpinLoading(false);
                  }
              });
          })
      } catch (ex) {
          console.log(ex);
      }
  }

</script>