@using ObjectInfo
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Trang chủ";

    CSE_PostsInfo _news = new CSE_PostsInfo();
    if (ViewBag.News != null)
    {
        _news = ViewBag.News;
    }

    CSE_PostsInfo _event = new CSE_PostsInfo();
    if (ViewBag.Event != null)
    {
        _event = ViewBag.Event;
    }

    List<CSE_PostsInfo> _LstNews = new List<CSE_PostsInfo>();
    if (ViewBag.LstNews != null)
    {
        _LstNews = ViewBag.LstNews;
    }

    List<CSE_PostsInfo> _LstEvent = new List<CSE_PostsInfo>();
    if (ViewBag.LstEvent != null)
    {
        _LstEvent = ViewBag.LstEvent;
    }

}
<!-- content -->
<div class="container-content">
    <div class="slider-home">
        <div id="carouselExampleControlsNoTouching" class="carousel slide carousel-fade" data-bs-touch="false" data-bs-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="big-banner" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2019/06/shutterstock_513707497.jpg" class="d-block w-100" alt="...">
                    <div class="slider-content">
                        <h3>Chào mừng tới</h3>
                        <h1>Khoa Công nghệ thông tin</h1>
                    </div>
                    <div class="overlay"></div>
                </div>
                <div class="carousel-item">
                    <img class="big-banner" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2018/08/shutterstock_177301904.jpg" class="d-block w-100" alt="...">
                    <div class="slider-content">
                        <h3>Chào mừng tới</h3>
                        <h1>Khoa Công nghệ thông tin</h1>
                    </div>
                    <div class="overlay"></div>
                </div>
                <div class="carousel-item">
                    <div class="slider-content">
                        <h3>Chào mừng tới</h3>
                        <h1>Khoa Công nghệ thông tin</h1>
                    </div>
                    <img class="big-banner" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2019/06/shutterstock_726926179.jpg" class="d-block w-100" alt="...">
                    <div class="overlay"></div>
                </div>
            </div>


            <button class="carousel-control carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="container-fluid container-news-absolute">
        <div class="container-xxl container-md container">
            <div class="main-categories_container">
                <div class="row">
                    <div class="col-lg">
                        @if (_news != null)
                        {
                            string title = _news.Title;
                            if (_news.Title.Length > 60)
                                title = _news.Title.Substring(0, 60) + "...";
                            <div class="main-category-wrapper">
                                <div class="main-category_header" style=" border-radius: 12px 0 0 0;  background-color: #C82629;">
                                    <img width="10%" src="/Guest_Assets/Img/free-news-icon-4301-thumb 2.png" alt="">
                                    <div>
                                        <h3>Tin tức</h3>

                                    </div>
                                </div>
                                <div class="main-category-img">
                                    <img width="100%" src="@_news.Thumbnail" alt="">
                                </div>
                                <div class="main-category-content">
                                    <h3>@title</h3>
                                    <p>
                                        @_news.Description
                                    </p>
                                    <div>
                                        <a href="/bai-viet/@_news.Id">Xem thêm ></a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-lg">
                        <div class="main-category-wrapper">
                            <div class="main-category_header" style="background-color: #C50227;">
                                <img width="10%" src="/Guest_Assets/Img/png-transparent-computer-icons-book-reading-book-angle-logo-author 1.png" alt="">
                                <div>
                                    <h3>Chương trình đào tạo</h3>

                                </div>
                            </div>
                            <div class="main-category-img">
                                <img width="100%" src="/Guest_Assets/Img/daotao.png" alt="">
                            </div>
                            <div class="main-category-content">
                                <h3>Chương trình đào tạo khoa công nghệ thông tin</h3>
                                <p>
                                    Chương trình đào tạo khoa công nghệ thông tin đại học thủy lợi là một chương trình tiên tiến được cập nhập và đổi mới liên tục để bắt kịp xu hướng.
                                </p>
                                <div>
                                    <a href="/danh-sach-bai-viet/DAIHOC">Xem thêm ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg">
                        @if (_event != null)
                        {
                            string title = _event.Title;
                            if (_event.Title.Length > 60)
                                title = _event.Title.Substring(0, 60) + "...";
                            <div class="main-category-wrapper">
                                <div class="main-category_header" style=" border-radius: 0 12px 0 0; background-color: #78091E;">
                                    <img width="10%" src="/Guest_Assets/Img/icon-sukien.png" alt="">
                                    <div>
                                        <h3>Sự kiện</h3>

                                    </div>
                                </div>
                                <div class="main-category-img">
                                    <img width="100%" src="@_event.Thumbnail" alt="">
                                </div>
                                <div class="main-category-content">
                                    <h3>@title</h3>
                                    <p>
                                        @_event.Description
                                    </p>
                                    <div>
                                        <a href="/bai-viet/@_event.Id">Xem thêm ></a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>


<div class="container-xxl container">
    <div class="news-big-container">
        <div class="row">
            <div class="col-lg-8 col-mobile" style="margin-right:-12px ;">
                <div class="title-news_wrapper">
                    <h3 class="news-title">Tin tức khoa</h3>
                </div>
                <div class="news-list-container">
                    <div class="row">
                        @if (_LstNews != null && _LstNews.Count > 0)
                        {
                            foreach (CSE_PostsInfo item in _LstNews)
                            {
                                string title = item.Title;
                                if (item.Title.Length > 61)
                                    title = item.Title.Substring(0, 60) + "...";

                                <div class="col-lg-12">
                                    <div class="news-item-wrapper">
                                        <a href="/bai-viet/@item.Id" class="news-item-avatar">
                                            <div class="avatar-overlay"></div>
                                            <img width="100%" src="@item.Thumbnail" alt="">
                                        </a>
                                        <div class="title-wrapper">
                                            <h3>
                                                <a href="/bai-viet/@item.Id">@title</a>
                                            </h3>
                                            <p>@item.Description</p>
                                            <span>Ngày đăng: @item.Created_Date.ToString("dd/MM/yyy HH:mm")</span>

                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <a href="/danh-sach-bai-viet/BAOCSE" class="more-news-btn">Xem thêm ></a>
                </div>
            </div>
            <div class="col-lg-4 col-mobile" style="margin-left: 12px;">
                <div class="title-news_wrapper">
                    <h3 class="news-title">Cse trên facebook</h3>
                </div>
                <div class="news-video-container">
                    <div class="news-video_wrapper">
                        <a href="https://www.facebook.com/cse.tlu.edu.vn/" class="video-box">
                            <img width="100%" src="/Guest_Assets/Img/CSE_fanpage.png" alt="">
                        </a>
                    </div>
                    <div class="news-video-content">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="about-us-container">
        <div class="container-xxl about-us-container-inner container">
            <h3>Về chúng tôi</h3>
            <div class="about-us-wrapper">
                <div class="row">
                    <div class="col-lg col-mobile">
                        <div class="about-us-item">
                            <span>Giải thưởng</span>
                            <h3>420</h3>
                            <p>Được trao tặng bởi các giáo sư đầu ngành trong nước và cả nước ngoài</p>
                        </div>

                    </div>
                    <div class="col-lg col-mobile">
                        <div class="about-us-item">
                            <span>Phòng thực hành</span>
                            <h3>32</h3>
                            <p>Được trao tặng bởi các giáo sư đầu ngành trong nước và cả nước ngoài</p>
                        </div>

                    </div>
                    <div class="col-lg col-mobile">
                        <div class="about-us-item">
                            <span>Chương trình đào tạo</span>
                            <h3>20</h3>
                            <p>Chương trình thuộc các hệ Kỹ sư, Thạc sỹ, Tiến sỹ</p>
                        </div>

                    </div>
                    <div class="col-lg col-mobile">
                        <div class="about-us-item">
                            <span>Đối tác</span>
                            <h3>120+</h3>
                            <p>Các doanh nghiệp trong nước, các nước phát triển</p>
                        </div>

                    </div>

                    <div class="col-lg">
                        <div class="about-us-item">
                            <span>Sinh viên</span>
                            <h3>4200+</h3>
                            <p>Thuộc top 1 điểm đầu vào khối A cao nhất mùa tuyển sinh 2022</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="container-fluid events-big-container">
    <div class="container-xxl container">
        <div class="events-container">
            <div class="events-title title-news_wrapper">
                <h3 class="news-title">Sự kiện</h3>
            </div>
            @Html.Partial("_Partial_List_Event_Suggest.cshtml", _LstEvent)
        </div>
    </div>
</div>

<div class="container-xxl container">
    <div class="events-container">
        <div class="events-title title-news_wrapper">
            <h3 class="news-title">Hợp tác</h3>
        </div>
        <div class="cooperate-container">
            <div class="row">
                <div class="col-lg">
                    <a href="" class="cooperate-item">
                        <img src="~/Guest_Assets/Img/log_fpt.png" alt="">
                    </a>

                </div>
                <div class="col-lg">
                    <a href="" class="cooperate-item">
                        <img src="~/Guest_Assets/Img/logo_samsung.png" alt="">
                    </a>

                </div>
                <div class="col-lg">
                    <a href="" class="cooperate-item">
                        <img src="~/Guest_Assets/Img/logo_viettel.png" alt="">
                    </a>

                </div>
                <div class="col-lg">
                    <a href="" class="cooperate-item">
                        <img src="~/Guest_Assets/Img/VNPT_Logo.png">
                    </a>

                </div>

            </div>
        </div>
    </div>
</div>

