@using CSE_WebEducation
@using ObjectInfo;
@using CommonLib;
@{
    CSE_GroupsInfo _Group_Info = new CSE_GroupsInfo();
    if (ViewBag.Group_Info != null)
    {
        _Group_Info = ViewBag.Group_Info;
    }
}
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="header-report">
            <h3>Sửa thông tin nhóm tài khoản</h3>
            <button class="btn-close" onclick="ClosePopupDialog('dPopup', false);"><img src="~/bidding_lib/img/icon-close.svg" alt="img"></button>
        </div>

        <form id="formEditGroupUser" enctype="multipart/form-data">
            <div class="body-report">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="flex-report">
                            <div class="title-report">Tên nhóm <span class="clr-red">(*)</span></div>
                            <div class="field-report">
                                <input type="text" id="Group_Name" maxlength="100" name="Group_Name" autocomplete="off" value="@_Group_Info.Group_Name" autofocus>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-lg-12">
                        <div class="flex-report">
                            <div class="title-report">Loại nhóm </div>
                            <div class="field-report">
                                <select id="slGroupType" multiple>
                                    @foreach (var it in AllCodeMemory.Allcode_GetByCdnameCdtype("USER", "TYPE"))
                                    {
                                        if (@_Group_Info.Group_Type == Convert.ToDecimal(it.CDVal))
                                        {
                                            <option value="@it.CDVal" selected>@it.Content</option>
                                        }
                                        else
                                        {
                                            <option value="@it.CDVal">@it.Content</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>*@
                    <div class="col-lg-12">
                        <div class="flex-report">
                            <div class="title-report">Trạng thái <span class="clr-red">(*)</span></div>
                            <div class="field-report">
                                <select id="slGroupStatus" multiple disabled>
                                    @foreach (var it in AllCodeMemory.Allcode_GetByCdnameCdtype("GROUP", "STATUS"))
                                    {
                                        if (@_Group_Info.Status.ToUpper() == it.CDVal.ToUpper())
                                        {
                                            <option value="@it.CDVal" selected>@it.Content</option>
                                        }
                                        else
                                        {
                                            <option value="@it.CDVal">@it.Content</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="flex-report">
                            <div class="title-report">Mô tả </div>
                            <div class="field-report">
                                <input type="text" id="Note" name="Note" autocomplete="off" value="@_Group_Info.Note" maxlength="500">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="foot-report text-right">
                <input type="hidden" id="tempGroupId" name="Status" value="@_Group_Info.Group_Id" />
                <button class="btn-save" type="submit" id="btnSend"><img src="~/bidding_lib/img/icon-save.svg" alt="img">Lưu</button>
                <button class="btn-cancel" type="button" id="btnExit" onclick="ClosePopupDialog('dPopup', false);"><img src="~/bidding_lib/img/icon-cancel.svg" alt="img">Thoát</button>
            </div>
        </form>
    </div>
</div>



<script>
    $(function() {
        $('#Group_Name').focus();
    })

    var Group_Id = $('#tempGroupId').val();
    var Group_Name = "";
    var Note = "";
    var Group_Type = "";
    var status = "";

    //$('#slGroupType').multipleSelect({
    //    width: '100%',
    //    single: true,
    //    filter: true,
    //    placeholder: "-- Loại nhóm --",
    //});

    $('#slGroupStatus').multipleSelect({
        width: '100%',
        single: true,
        filter: true,
        placeholder: "-- Trạng thái --",
    });

    $('#formEditGroupUser').on('submit', function (e) {
        try {

                var that = this;
                /* e = window.event || e;*/
                e.preventDefault();

                if (!validateAdd()) return false;

                var formData = new FormData();
                collectDataToAdd(formData);

                $.ajax({
                    type: "POST",
                    enctype: "multipart/form-data",
                    url: '/quan-tri/nhom-nguoi-dung/cap-nhat',
                    data: formData,
                    beforeSend: function () {
                        SpinLoading(true);
                    },
                    contentType: false, processData: false, async: false,
                    success: function (data) {
                        if (data && preHandleDataResult(data)) {
                            if (data.success > 0) {
                                showSuccess(data.responseMessage);
                                setTimeout(function () {
                                    window.location.href = '/quan-tri/nhom-nguoi-dung/danh-sach';
                                }, 1000);
                            }
                            else {
                                showError(data.responseMessage);
                            }
                        }
                    },
                    error: function (data) {
                        console.log(data.error);
                    },
                    complete: function () {
                        SpinLoading(false);
                    }
                });

        } catch (e) {
            console.log(e);
        }

    });

    function collectDataToAdd(formData) {
        formData.append('info.Group_Id', Group_Id);
        formData.append('info.Group_Name', Group_Name);
        formData.append('info.Note', Note);
        formData.append('info.Group_Type', Group_Type);
        formData.append('info.Status', status);
    }

    function validateAdd() {
        try {
            Group_Name = $("#Group_Name").val().trim();
            Note = $("#Note").val().trim();
            //Group_Type = $("#slGroupType").val();
            status = $("#slGroupStatus").val();

            if (Group_Name == null || Group_Name == "") {
                showError('Tên nhóm không được để trống')
                $("#Group_Name").focus();
                return false;
            }

            if (status == null || status == "") {
                showError('Trạng thái không được để trống')
                $("#slGroupStatus").focus();
                return false;
            }

            return true;
        } catch (ex) {
            console.log(ex);
        }
    }
</script>
