@using CSE_WebEducation
@using CommonLib;
@{
    Layout = "~/Views/Shared/_ManaLayout.cshtml";
    ViewBag.Title = "Danh sách nhóm tài khoản";
}

<div id="pupup"></div>

<div class="block-search-light">
    <div class="head-search">
        <h3 class="title">Điều kiện tìm kiếm</h3>
        <div class="search-right">
            <button class="btn-additem" type="button" onclick="gotoAdd()"><img src="~/bidding_lib/img/plus.svg" />Thêm mới</button>

            <button class="btn-search" onclick="Search(@CommonData.pageDefaut);"><img src="~/bidding_lib/img/icon-search.svg" alt="img"></button>
        </div>
    </div>
    <div class="body-search">
        <div class="box-search">
            <div class="item-search">
                <label>Tên nhóm tài khoản</label>
                <input type="text" id="txtName" placeholder="Từ khóa tìm kiếm">

            </div>
            @*<div class="item-search">
                <label>Loại nhóm</label>
                <select id="cboGroupType" multiple>
                   
                    @foreach (var item in AllCodeMemory.Allcode_GetByCdnameCdtype("GROUP", "TYPE"))
                    {
                        <option value="@item.CDVal">@item.Content</option>
                    }
                </select>
            </div>*@
            <div class="item-search">
                <label>Trạng thái</label>
                <select id="cboStatus" multiple>
                    @*<option value="-1" selected>-- Tất cả --</option>*@
                    @foreach (var item in AllCodeMemory.Allcode_GetByCdnameCdtype("GROUP", "STATUS"))
                    {
                        <option value="@item.CDVal">@item.Content</option>
                    }
                </select>
            </div>
        </div>

    </div>
</div>
<div class="block-record" id="tableData">
    @*@Html.Partial("_Partial_List.cshtml")*@
</div>


<div class="modal modal-report" id="dPopup"></div>

<script>
    $(document).ready(function () {
        Search(@CommonData.pageDefaut);
    })

    //$('#cboGroupType').multipleSelect({
    //    width: '100%',
    //    single: false,
    //    filter: true,
    //    placeholder: "-- Chọn loại nhóm --",
    //});

     $('#cboStatus').multipleSelect({
        width: '100%',
        single: false,
        filter: true,
        placeholder: "-- Chọn trạng thái --",
    });

    $(document).on('keypress', function (e) {
        if (e.which == 13) {
            Search('@CommonData.pageDefaut');
        }
    });

    function ChangePage(curentPage) {
        Search(curentPage);
    }

    function Search(curentPage) {
        try {
            var keySearch = $('#txtName').val() + '||' + $('#cboStatus').val();
            $.ajax({
                type: 'POST',
                url: '/quan-tri/nhom-nguoi-dung/tim-kiem',
                data: {
                    keysearch: keySearch,
                    curentPage: curentPage,
                    p_record_on_page: $("#cbo_record_on_page").val()
                },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    SpinLoading(true);
                },
                success: function (data) {
                    SpinLoading(false);
                    if (preHandleDataResult(data)) {
                        $("#tableData").html(data);
                    }
                }
            });
        } catch (ex) {
            console.log(ex);
        }
    }

    function gotoAdd() {
        try {
            $.ajax({
                type: 'GET',
                url: '/quan-tri/nhom-nguoi-dung/them-moi',
                async: false, cache: false, traditional: true,
                beforeSend: function () {
                    SpinLoading(true);
                },
                success: function (data) {
                    SpinLoading(false);
                    if (preHandleDataResult(data)) {
                        $("#dPopup").html(data);
                        ShowPopupDialog("dPopup", "Thêm mới nhóm tài khoản");
                    }
                }
            });
        } catch (ex) {
            console.log(ex);
        }
    }

    function LoadEdit(group_id) {
        try {
            $.ajax({
                type: 'GET',
                url: '/quan-tri/nhom-nguoi-dung/cap-nhat',
                data: {
                    group_id: group_id
                },
                async: false, cache: false, traditional: true,
                beforeSend: function () {
                    SpinLoading(true);
                },
                success: function (data) {
                    SpinLoading(false);
                    if (preHandleDataResult(data)) {
                        $("#dPopup").html(data);
                        ShowPopupDialog("dPopup", "Cập nhập nhóm tài khoản");
                    }
                }
            });
        } catch (ex) {
            console.log(ex);
        }
    }

    function LoadView(group_id) {
        try {
            $.ajax({
                type: 'GET',
                url: '/quan-tri/nhom-nguoi-dung/chi-tiet',
                data: {
                    group_id: group_id
                },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    SpinLoading(true);
                },
                success: function (data) {
                    SpinLoading(false);
                    if (preHandleDataResult(data)) {
                        $("#dPopup").html(data);
                        ShowPopupDialog("dPopup", "Xem chi tiết", { idFocus: 'Group_Name' });
                     }
                }
            });
        } catch (ex) {
            console.log(ex);
        }
    }

    function onChange_Record_on_page() {
        Search(1);
    }

    function delete_group(group_id) {
        try {
            nvsConfirm("Bạn có chắc chắn muốn xóa nhóm tài khoản này không?", function () {
                $.ajax({
                    type: 'POST',
                    url: '/quan-tri/nhom-nguoi-dung/xoa',
                    data: {
                        group_id: group_id
                    },
                    async: true, cache: false, traditional: true,
                    beforeSend: function () {
                        SpinLoading(true);
                    },
                    success: function (data) {
                        if (preHandleDataResult(data)) {
                            if (data.success > 0) {
                                showSuccess('Xóa nhóm tài khoản thành công')
                                Search('@CommonData.pageDefaut');
                            } else if (data.success == -2) {
                                showError('Nhóm có tài khoản không thể xóa nhóm')
                            } else {
                                showError('Xóa nhóm tài khoản không thành công')
                            }
                        }
                    },
                    error: function (data) {
                        console.log(data);
                    },
                    complete: function () {
                        SpinLoading(false);
                    }
                });
            })
        } catch (ex) {
            console.log(ex);
        }
    }

    
    function AcitveOrUnactive(user_id, status) {
        try {
            console.log(status)
            var strQuestion = "";
            if(status == '@CSE_Group_Status.HieuLuc'){
                strQuestion = "Bạn có chắc chắn muốn kích hoạt nhóm tài khoản này không?";
            }
            else{
                strQuestion = "Bạn có chắc chắn muốn ngưng hoạt động nhóm tài khoản này không?";
            }
            
            nvsConfirm(strQuestion, function () {
                $.ajax({
                    type: 'POST',
                    url: '/quan-tri/nhom-nguoi-dung/cap-nhat-trang-thai',
                    data: {
                        user_id: user_id,
                        status: status
                    },
                    async: true, cache: false, traditional: true,
                    beforeSend: function () {
                        SpinLoading(true);
                    },
                    success: function (data) {
                        if (preHandleDataResult(data)) {
                            if (data.success > 0) {
                                showSuccess(data.responseMessage)
                                Search('@CommonData.pageDefaut');
                            } else {
                                showError(data.responseMessage)
                            }
                        }
                    },
                    error: function (data) {
                        console.log(data);
                    },
                    complete: function () {
                        SpinLoading(false);
                    }
                });
            })
        } catch (ex) {
            console.log(ex);
        }
    }


    function LoadGroupUser(groupId) {
        location.href = '/quan-tri/nhom-nguoi-dung/xep-nhom-nguoi-dung/'+groupId;
    }

    function LoadSetFunction(groupId) {
        try {
            $.ajax({
                type: "GET",
                data: { groupId: groupId },
                url: "/quan-tri/nhom-nguoi-dung/phan-quyen",
                beforeSend: function () {
                    SpinLoading(true);
                },
                success: function (data) {
                    SpinLoading(false);
                    if (data != null) {
                        if (preHandleDataResult(data)) {
                            $("#dPopup").html(data);
                            ShowPopupDialog("dPopup", "Phân quyền nhóm");
                        }
                    }
                },
                error: function (data) {
                    console.log(data.error);
                }
            });
        } catch (e) {
            console.log(e);
        }
    }
</script>